.profile__photo-edit {
  background: rgba(0, 0, 0, 0.8);
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;  
  cursor: pointer;
  visibility: hidden;
}